.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
.fleet
.zed
.nova
Homestead.json
Homestead.yaml
auth.json
